@page "/ExportTemplate"
@* ReSharper disable once UnusedMember.Local *@
@inject ILoggerFactory LoggerFactory

@* Page 1 - title, overview and users *@
<h1 class="mud-typography mud-typography-h1 mud-typography-align-center"> Lighthouse Notes Case Export for: @Model.DisplayName </h1>

<h2 class="mud-typography mud-typography-h2 mud-typography-align-center"> Case overview </h2>
<div class="mud-grid mud-grid-spacing-xs-3 justify-start my-3 justify-center">
    <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-4 mud-grid-item-xxl-2">
        <div class="mud-paper mud-elevation-1 mud-card" style="">
            <div class="mud-card-header">
                <div class="mud-card-header-content">
                    <h6 class="mud-typography mud-typography-h6"> Case </h6>
                    <h6 class="mud-typography mud-typography-subtitle1"> @Model.DisplayName </h6>
                </div>
            </div>
            <div class="mud-card-content">
                <p class="mud-typography mud-typography-body1"><b> ID: </b>3</p>
                <p class="mud-typography mud-typography-body1"><b> Name: </b> New Notes</p>
                <p class="mud-typography mud-typography-body1"><b> Created: </b> @Model.Created </p>
                <p class="mud-typography mud-typography-body1"><b> Modified: </b> @Model.Modified </p>
                <p class="mud-typography mud-typography-body1"><b> Status: </b> @Model.Status </p>
            </div>
        </div>
    </div>
    <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-5 mud-grid-item-xxl-5">
    
        <div class="mud-paper mud-elevation-1 mud-card" style="">
            <div class="mud-card-header">
                <div class="mud-card-header-avatar">
                    <div class="mud-avatar mud-avatar-medium mud-avatar-square mud-avatar-filled mud-avatar-filled-default mud-elevation-0" style=""><img alt="User profile picture" src="@Model.SIO.ProfilePicture" class="mud-image object-scale-down object-center" height="45"></div></div>
                <div class="mud-card-header-content"><h6 class="mud-typography mud-typography-h6"> Senior Investigative Officer </h6>
                    <h6 class="mud-typography mud-typography-subtitle1"> @Model.SIO.DisplayName</h6>
                </div>
            </div>
            <div class="mud-card-content">
                <p class="mud-typography mud-typography-body1"><b> Given Name &amp; Last Name: </b> @Model.SIO.GivenName @Model.SIO.LastName </p>
                <p class="mud-typography mud-typography-body1"><b> Email Address: </b> @Model.SIO.EmailAddress </p>
                <p class="mud-typography mud-typography-body1"><b> Organization: </b> @Model.SIO.Organization.DisplayName </p>
                <p class="mud-typography mud-typography-body1"><b> Job Title: </b> @Model.SIO.JobTitle </p>
            </div>
        </div>
    </div>
</div>
<h2 class="mud-typography mud-typography-h2 mud-typography-align-center"> Users with access to the case </h2>
<div class="mud-grid mud-grid-spacing-xs-3 justify-start my-3">
    <div class="mud-grid-item mud-grid-item-xs-12">
        <div class="mud-table mud-data-grid mud-xs-table mud-elevation-1" style="">
            <div class="mud-table-container" style="" _bl_11134f7b-73ca-493b-b52b-d11e75802381="">
                <div class="mud-drop-container">
                    <table class="mud-table-root">
                        <thead class="mud-table-head">
                        <tr class="mud-table-row">
                            <th scope="col" class="mud-table-cell" style="" colspan="1">
                                <span class="column-header">
                                    <span class="sortable-column-header cursor-pointer">Display Name</span>
                                </span>
                            </th>
                            <th scope="col" class="mud-table-cell" style="" colspan="1">
                                <span class="column-header">
                                    <span class="sortable-column-header cursor-pointer">Organization</span>
                                </span>
                            </th>
                            <th scope="col" class="mud-table-cell" style="" colspan="1">
                                <span class="column-header">
                                    <span class="sortable-column-header cursor-pointer">Job Title</span>
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="mud-table-body">
                        @foreach (API.User user in Model.Users)
                        {
                            <tr class="mud-table-row " style="">
                                <td data-label="Display Name" class="mud-table-cell" style="">@user.DisplayName</td>
                                <td data-label="Organization" class="mud-table-cell" style="">@user.Organization.DisplayName</td>
                                <td data-label="Job Title" class="mud-table-cell" style="">@user.JobTitle</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@* Page 2 - Contemporaneous notes *@
<div style="page-break-before: always;"></div>
<h2 class="mud-typography mud-typography-h2 mud-typography-align-center"> Contemporaneous Notes </h2>
<div class="mud-expansion-panels">
    @foreach (API.ContemporaneousNotesExport contemporaneousNote in Model.ContemporaneousNotes)
    {
        <div class="mud-expand-panel mud-panel-expanded mud-panel-next-expanded mud-elevation-1 mud-expand-panel-border">

            <div class="mud-expand-panel-header">
                <div class="mud-expand-panel-text">
                    <h6 class="mud-typography mud-typography-h6"> @contemporaneousNote.DateTime </h6>
                </div>
            </div>
            <div class="mud-collapse-container mud-collapse-entered" style="height:auto;">
                <div class="mud-collapse-wrapper">
                    <div class="mud-collapse-wrapper-inner">
                        <div class="mud-expand-panel-content">
                            @((MarkupString)contemporaneousNote.Content)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
@* Page 3 - Tabs *@
<div style="page-break-before: always;"></div>
<h2 class="mud-typography mud-typography-h2 mud-typography-align-center"> Tabs </h2>
@foreach (API.TabExport tab in Model.Tabs)
{
    <div class="mud-paper mud-elevation-1 mud-card">
        <h3 class="mud-typography mud-typography-h2 mud-typography-align-center"> @tab.Name </h3>
        @((MarkupString)tab.Content)
    </div>
    <br/>
}
@* Page 3 - Shared notes *@
<div style="page-break-before: always;"></div>
<h2 class="mud-typography mud-typography-h2 mud-typography-align-center"> Shared Contemporaneous Notes </h2>
<div class="mud-expansion-panels">
    @foreach (API.SharedContemporaneousNotesExport contemporaneousNote in Model.SharedContemporaneousNotes)
    {
        <div class="mud-expand-panel mud-panel-expanded mud-panel-next-expanded mud-elevation-1 mud-expand-panel-border">

            <div class="mud-expand-panel-header">
                <div class="mud-expand-panel-text">
                    <div class="d-flex">
                        <div class="mud-avatar mud-avatar-medium mud-avatar-square mud-avatar-filled mud-avatar-filled-default mud-elevation-0">
                           <img src="@contemporaneousNote.Creator.ProfilePicture" class="mud-image object-fill object-center" alt="User profile picture"/>
                        </div>
                        <h6 class="mud-typography mud-typography-h6">
                            @contemporaneousNote.Created
                        </h6>
                    </div>
                </div>
            </div>
            
            <div class="mud-collapse-container mud-collapse-entered" style="height:auto;">
                <div class="mud-collapse-wrapper">
                    <div class="mud-collapse-wrapper-inner">
                        <div class="mud-expand-panel-content">
                            @((MarkupString)contemporaneousNote.Content)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
@* Page 4 - Shared Tabs *@
<div style="page-break-before: always;"></div>
<h2 class="mud-typography mud-typography-h2 mud-typography-align-center"> Shared Tabs </h2>
@foreach (API.SharedTabExport tab in Model.SharedTabs)
{
    <div class="mud-paper mud-elevation-1 mud-card">
        <h3 class="mud-typography mud-typography-h2 mud-typography-align-center"> @tab.Name </h3>
        <h6 class="mud-typography mud-typography-subtitle1 mud-typography-align-center"> Created at: @tab.Created by <a class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 cursor-pointer"> @tab.Creator.DisplayName </a> </h6>
        @((MarkupString)tab.Content)
    </div>
    <br/>
}
@code {
    [Parameter]
    public required API.Export Model { get; set; }
}